<?xml version="1.0"?>

<launch>

  <!-- Start ur10_controller -->
  <!-- robot_ip: IP-address of the robot's socket-messaging server -->
  <arg name="robot_ip" default="localhost"/>
  <arg name="limited" default="false"/>
  <arg name="min_payload"  default="0.0"/>
  <arg name="max_payload"  default="10.0"/>
  <arg name="prefix" default="" />

  <!-- robot model -->
  <include file="$(find ur_description)/launch/ur10_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

  <!-- ur common -->
  <include file="$(find ur_modern_driver)/launch/ur_common2.launch">
    <arg name="robot_ip" value="$(arg robot_ip)"/>
    <arg name="min_payload"  value="$(arg min_payload)"/>
    <arg name="max_payload"  value="$(arg max_payload)"/>
  </include>

  <!-- Start rviz to visualize the robot's urdf model -->
  <include file="$(find ur10_robot)/launch/ur10_urdf.launch" />

    <!-- test node -->
    <node pkg="ur10_test" type="test_delay" name="test_delay"
          output="screen" cwd="node">
    </node>

</launch>
